<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon name="calculator-outline" class="icon-sobre"></ion-icon>

  <ion-card>
    <ion-item>
      <ion-label>Nome: FIAPlator</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Versão: 0.0.1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desenvolvido para a matéria de Cloud Foundation na instituição de ensino FIAP.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Responsável: Pedro Henrique, Bárbara Perretti e Kauâ Estriga.</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
